# SPDX-License-Identifier: GPL-2.0
# common clock support for SPACEMIT SoC family.

config SPACEMIT_K1_CCU
        tristate "Clock support for Spacemit k1 SoC"
        depends on SOC_SPACEMIT_K1
        help
          Build the driver for Spacemit K1 Clock Driver.

