// SPDX-License-Identifier: (GPL-2.0 OR MIT)
/* Copyright (c) 2022 Spacemit, Inc */

/dts-v1/;

#include <dt-bindings/reset/spacemit-k1x-reset.h>
#include <dt-bindings/clock/spacemit-k1x-clock.h>
#include <dt-bindings/dma/spacemit-k1-dma.h>

/ {
	compatible = "spacemit,k1-x";
	#address-cells = <2>;
	#size-cells = <2>;

	aliases {
		serial0 = &uart0;
		serial1 = &uart2;
		serial2 = &uart3;
		serial3 = &uart4;
		serial4 = &uart5;
		serial5 = &uart6;
		serial6 = &uart7;
		serial7 = &uart8;
		serial8 = &uart9;
	};

	cpus: cpus {
		#address-cells = <1>;
		#size-cells = <0>;
		timebase-frequency = <24000000>;
		cpu_0: cpu@0 {
			compatible = "spacemit,x60", "riscv";
			device_type = "cpu";
			model = "Spacemit(R) X60";
			reg = <0>;
			status = "okay";
			riscv,isa = "rv64imafdcv";
			riscv,isa-base = "rv64i";
			riscv,isa-extensions = "i", "m", "a", "f", "d", "c", "v",
					"zicbom", "zicboz", "zicntr", "zicond",
					"zicsr", "zifencei", "zihintpause", "zihpm",
					"zfh", "zfhmin", "zba", "zbb", "zbc", "zbs",
					"zkt", "zvfh", "zvfhmin", "zvkt", "sscofpmf",
					"sstc", "svinval", "svnapot", "svpbmt" ;
			riscv,cbom-block-size = <64>;
			riscv,cboz-block-size = <64>;
			i-cache-block-size = <64>;
			i-cache-size = <32768>;
			i-cache-sets = <128>;
			d-cache-block-size = <64>;
			d-cache-size = <32768>;
			d-cache-sets = <128>;
			next-level-cache = <&clst0_l2_cache>;
			mmu-type = "riscv,sv39";
			cpu-ai = "true";

			cpu0_intc: interrupt-controller {
				#interrupt-cells = <1>;
				compatible = "riscv,cpu-intc";
				interrupt-controller;
			};
		};

		cpu_1: cpu@1 {
			device_type = "cpu";
			reg = <1>;
			status = "okay";
			compatible = "spacemit,x60", "riscv";
			model = "Spacemit(R) X60";
			riscv,isa = "rv64imafdcv";
			riscv,isa-base = "rv64i";
			riscv,isa-extensions = "i", "m", "a", "f", "d", "c", "v",
					"zicbom", "zicboz", "zicntr", "zicond",
					"zicsr", "zifencei", "zihintpause", "zihpm",
					"zfh", "zfhmin", "zba", "zbb", "zbc", "zbs",
					"zkt", "zvfh", "zvfhmin", "zvkt", "sscofpmf",
					"sstc", "svinval", "svnapot", "svpbmt" ;
			riscv,cbom-block-size = <64>;
			riscv,cboz-block-size = <64>;
			i-cache-block-size = <64>;
			i-cache-size = <32768>;
			i-cache-sets = <128>;
			d-cache-block-size = <64>;
			d-cache-size = <32768>;
			d-cache-sets = <128>;
			next-level-cache = <&clst0_l2_cache>;
			mmu-type = "riscv,sv39";
			cpu-ai = "true";

			cpu1_intc: interrupt-controller {
				#interrupt-cells = <1>;
				compatible = "riscv,cpu-intc";
				interrupt-controller;
			};
		};

		cpu_2: cpu@2 {
			device_type = "cpu";
			reg = <2>;
			status = "okay";
			compatible = "spacemit,x60", "riscv";
			model = "Spacemit(R) X60";
			riscv,isa = "rv64imafdcv";
			riscv,isa-base = "rv64i";
			riscv,isa-extensions = "i", "m", "a", "f", "d", "c", "v",
					"zicbom", "zicboz", "zicntr", "zicond",
					"zicsr", "zifencei", "zihintpause", "zihpm",
					"zfh", "zfhmin", "zba", "zbb", "zbc", "zbs",
					"zkt", "zvfh", "zvfhmin", "zvkt", "sscofpmf",
					"sstc", "svinval", "svnapot", "svpbmt" ;
			riscv,cbom-block-size = <64>;
			riscv,cboz-block-size = <64>;
			i-cache-block-size = <64>;
			i-cache-size = <32768>;
			i-cache-sets = <128>;
			d-cache-block-size = <64>;
			d-cache-size = <32768>;
			d-cache-sets = <128>;
			next-level-cache = <&clst0_l2_cache>;
			mmu-type = "riscv,sv39";
			cpu-ai = "true";

			cpu2_intc: interrupt-controller {
				#interrupt-cells = <1>;
				compatible = "riscv,cpu-intc";
				interrupt-controller;
			};
		};

		cpu_3: cpu@3 {
			device_type = "cpu";
			reg = <3>;
			status = "okay";
			compatible = "spacemit,x60", "riscv";
			model = "Spacemit(R) X60";
			riscv,isa = "rv64imafdcv";
			riscv,isa-base = "rv64i";
			riscv,isa-extensions = "i", "m", "a", "f", "d", "c", "v",
					"zicbom", "zicboz", "zicntr", "zicond",
					"zicsr", "zifencei", "zihintpause", "zihpm",
					"zfh", "zfhmin", "zba", "zbb", "zbc", "zbs",
					"zkt", "zvfh", "zvfhmin", "zvkt", "sscofpmf",
					"sstc", "svinval", "svnapot", "svpbmt" ;
			riscv,cbom-block-size = <64>;
			riscv,cboz-block-size = <64>;
			i-cache-block-size = <64>;
			i-cache-size = <32768>;
			i-cache-sets = <128>;
			d-cache-block-size = <64>;
			d-cache-size = <32768>;
			d-cache-sets = <128>;
			next-level-cache = <&clst0_l2_cache>;
			mmu-type = "riscv,sv39";
			cpu-ai = "true";

			cpu3_intc: interrupt-controller {
				#interrupt-cells = <1>;
				compatible = "riscv,cpu-intc";
				interrupt-controller;
			};
		};

		cpu_4: cpu@4 {
			device_type = "cpu";
			reg = <4>;
			status = "okay";
			compatible = "spacemit,x60", "riscv";
			model = "Spacemit(R) X60";
			riscv,isa = "rv64imafdcv";
			riscv,isa-base = "rv64i";
			riscv,isa-extensions = "i", "m", "a", "f", "d", "c", "v",
					"zicbom", "zicboz", "zicntr", "zicond",
					"zicsr", "zifencei", "zihintpause", "zihpm",
					"zfh", "zfhmin", "zba", "zbb", "zbc", "zbs",
					"zkt", "zvfh", "zvfhmin", "zvkt", "sscofpmf",
					"sstc", "svinval", "svnapot", "svpbmt" ;
			riscv,cbom-block-size = <64>;
			riscv,cboz-block-size = <64>;
			i-cache-block-size = <64>;
			i-cache-size = <32768>;
			i-cache-sets = <128>;
			d-cache-block-size = <64>;
			d-cache-size = <32768>;
			d-cache-sets = <128>;
			next-level-cache = <&clst1_l2_cache>;
			mmu-type = "riscv,sv39";

			cpu4_intc: interrupt-controller {
				#interrupt-cells = <1>;
				compatible = "riscv,cpu-intc";
				interrupt-controller;
			};
		};

		cpu_5: cpu@5 {
			device_type = "cpu";
			reg = <5>;
			status = "okay";
			compatible = "spacemit,x60", "riscv";
			model = "Spacemit(R) X60";
			riscv,isa = "rv64imafdcv";
			riscv,isa-base = "rv64i";
			riscv,isa-extensions = "i", "m", "a", "f", "d", "c", "v",
					"zicbom", "zicboz", "zicntr", "zicond",
					"zicsr", "zifencei", "zihintpause", "zihpm",
					"zfh", "zfhmin", "zba", "zbb", "zbc", "zbs",
					"zkt", "zvfh", "zvfhmin", "zvkt", "sscofpmf",
					"sstc", "svinval", "svnapot", "svpbmt" ;
			riscv,cbom-block-size = <64>;
			riscv,cboz-block-size = <64>;
			i-cache-block-size = <64>;
			i-cache-size = <32768>;
			i-cache-sets = <128>;
			d-cache-block-size = <64>;
			d-cache-size = <32768>;
			d-cache-sets = <128>;
			next-level-cache = <&clst1_l2_cache>;
			mmu-type = "riscv,sv39";

			cpu5_intc: interrupt-controller {
				#interrupt-cells = <1>;
				compatible = "riscv,cpu-intc";
				interrupt-controller;
			};
		};

		cpu_6: cpu@6 {
			device_type = "cpu";
			reg = <6>;
			status = "okay";
			compatible = "spacemit,x60", "riscv";
			model = "Spacemit(R) X60";
			riscv,isa = "rv64imafdcv";
			riscv,isa-base = "rv64i";
			riscv,isa-extensions = "i", "m", "a", "f", "d", "c", "v",
					"zicbom", "zicboz", "zicntr", "zicond",
					"zicsr", "zifencei", "zihintpause", "zihpm",
					"zfh", "zfhmin", "zba", "zbb", "zbc", "zbs",
					"zkt", "zvfh", "zvfhmin", "zvkt", "sscofpmf",
					"sstc", "svinval", "svnapot", "svpbmt" ;
			riscv,cbom-block-size = <64>;
			riscv,cboz-block-size = <64>;
			i-cache-block-size = <64>;
			i-cache-size = <32768>;
			i-cache-sets = <128>;
			d-cache-block-size = <64>;
			d-cache-size = <32768>;
			d-cache-sets = <128>;
			next-level-cache = <&clst1_l2_cache>;
			mmu-type = "riscv,sv39";

			cpu6_intc: interrupt-controller {
				#interrupt-cells = <1>;
				compatible = "riscv,cpu-intc";
				interrupt-controller;
			};
		};

		cpu_7: cpu@7 {
			device_type = "cpu";
			reg = <7>;
			status = "okay";
			compatible = "spacemit,x60", "riscv";
			model = "Spacemit(R) X60";
			riscv,isa = "rv64imafdcv";
			riscv,isa-base = "rv64i";
			riscv,isa-extensions = "i", "m", "a", "f", "d", "c", "v",
					"zicbom", "zicboz", "zicntr", "zicond",
					"zicsr", "zifencei", "zihintpause", "zihpm",
					"zfh", "zfhmin", "zba", "zbb", "zbc", "zbs",
					"zkt", "zvfh", "zvfhmin", "zvkt", "sscofpmf",
					"sstc", "svinval", "svnapot", "svpbmt" ;
			riscv,cbom-block-size = <64>;
			riscv,cboz-block-size = <64>;
			i-cache-block-size = <64>;
			i-cache-size = <32768>;
			i-cache-sets = <128>;
			d-cache-block-size = <64>;
			d-cache-size = <32768>;
			d-cache-sets = <128>;
			next-level-cache = <&clst1_l2_cache>;
			mmu-type = "riscv,sv39";

			cpu7_intc: interrupt-controller {
				#interrupt-cells = <1>;
				compatible = "riscv,cpu-intc";
				interrupt-controller;
			};
		};

		cpu-map {
			cluster0 {
				core0 {
					cpu = <&cpu_0>;
				};

				core1 {
					cpu = <&cpu_1>;
				};

				core2 {
					cpu = <&cpu_2>;
				};

				core3 {
					cpu = <&cpu_3>;
				};
			};

			cluster1 {
				core0 {
					cpu = <&cpu_4>;
				};

				core1 {
					cpu = <&cpu_5>;
				};

				core2 {
					cpu = <&cpu_6>;
				};

				core3 {
					cpu = <&cpu_7>;
				};
			};
		};

		clst0_l2_cache: l2-cache0 {
			compatible = "cache";
			cache-block-size = <64>;
			cache-level = <2>;
			cache-size = <524288>;
			cache-sets = <512>;
			cache-unified;
		};

		clst1_l2_cache: l2-cache1 {
			compatible = "cache";
			cache-block-size = <64>;
			cache-level = <2>;
			cache-size = <524288>;
			cache-sets = <512>;
			cache-unified;
		};
	};

	clocks {
		#address-cells = <0x2>;
		#size-cells = <0x2>;
		ranges;

		vctcxo_24: clock-vctcxo_24 {
			#clock-cells = <0>;
			compatible = "fixed-clock";
			clock-frequency = <24000000>;
			clock-output-names = "vctcxo_24";
		};

		vctcxo_3: clock-vctcxo_3 {
			#clock-cells = <0>;
			compatible = "fixed-clock";
			clock-frequency = <3000000>;
			clock-output-names = "vctcxo_3";
		};

		vctcxo_1: clock-vctcxo_1 {
			#clock-cells = <0>;
			compatible = "fixed-clock";
			clock-frequency = <1000000>;
			clock-output-names = "vctcxo_1";
		};

		pll1_2457p6_vco: clock-pll1_2457p6_vco {
			#clock-cells = <0>;
			compatible = "fixed-clock";
			clock-frequency = <2457600000>;
			clock-output-names = "pll1_2457p6_vco";
		};

		clk_32k: clock-clk32k {
			#clock-cells = <0>;
			compatible = "fixed-clock";
			clock-frequency = <32000>;
			clock-output-names = "clk_32k";
		};

		pll_clk_cluster0: clock-pll_clk_cluster0 {
			#clock-cells = <0>;
			compatible = "fixed-clock";
			clock-frequency = <10000000>;
			clock-output-names = "pll_clk_cluster0";
		};

		pll_clk_cluster1: clock-pll_clk_cluster1 {
			#clock-cells = <0>;
			compatible = "fixed-clock";
			clock-frequency = <10000000>;
			clock-output-names = "pll_clk_cluster1";
		};
	};

	soc: soc {
		compatible = "simple-bus";
		#address-cells = <2>;
		#size-cells = <2>;
		dma-noncoherent;
		ranges;

		/*
		 * dram mapping for dma/usb/sdh for ex,
		 * only 2GB available for devices.
		 */
		dram_range0: dram_range@0 {
			compatible = "spacemit-dram-bus";
			#address-cells = <2>;
			#size-cells = <2>;
			dma-ranges = <0x0 0x00000000 0x0 0x00000000 0x0 0x80000000>;
			#interconnect-cells = <0>;
			status = "okay";
		};

		/*
		 * dram mapping for vpu/gpu/dpu/v2d/isp/csi/vi/cpp,
		 * and eth/crypto/jpu for ex.
		 * 4GB space is available for devices, and the mapping is:
		 * 0~2GB of device's address space is mapping to 0~2GB of cpu's
		 * 2~4GB of device's address space is mapping to 4~6GB of cpu's
		 */
		dram_range1: dram_range@1 {
			compatible = "spacemit-dram-bus";
			#address-cells = <2>;
			#size-cells = <2>;
			dma-ranges = <0x0 0x00000000 0x0 0x00000000 0x0 0x80000000>,
				     <0x0 0x80000000 0x1 0x00000000 0x0 0x80000000>;
			#interconnect-cells = <0>;
			status = "okay";
		};

		/*
		 * dram mapping for pcie0/pcie1/pcie2 for ex.
		 * 14GB space is available for devices, and the mapping is:
		 * 0~2GB of device's address space is mapping to 0~2GB of cpu's
		 * 4~16GB of device's address space is mapping to 6~16GB of cpu's
		 * the 2~4GB of devcie's address space is io area
		 */
		dram_range2: dram_range@2 {
			compatible = "spacemit-dram-bus";
			#address-cells = <2>;
			#size-cells = <2>;
			dma-ranges = <0x0 0x00000000 0x0 0x00000000 0x0 0x80000000>,
				     <0x1 0x00000000 0x1 0x80000000 0x3 0x00000000>;
			#interconnect-cells = <0>;
			status = "okay";
		};

		clint0: clint@e4000000 {
			compatible = "riscv,clint0";
			interrupts-extended = <
				&cpu0_intc  3 &cpu0_intc  7
				&cpu1_intc  3 &cpu1_intc  7
				&cpu2_intc  3 &cpu2_intc  7
				&cpu3_intc  3 &cpu3_intc  7
				&cpu4_intc  3 &cpu4_intc  7
				&cpu5_intc  3 &cpu5_intc  7
				&cpu6_intc  3 &cpu6_intc  7
				&cpu7_intc  3 &cpu7_intc  7
			>;
			reg = <0x0 0xE4000000 0x0 0x00010000>;
		};

		ccu: clock-controller@d4050000 {
			compatible = "spacemit,k1x-clock";
			reg = <0x0 0xd4050000 0x0 0x209c>,
				<0x0 0xd4282800 0x0 0x400>,
				<0x0 0xd4015000 0x0 0x1000>,
				<0x0 0xd4090000 0x0 0x1000>,
				<0x0 0xd4282c00 0x0 0x400>,
				<0x0 0xd8440000 0x0 0x98>,
				<0x0 0xc0000000 0x0 0x4280>,
				<0x0 0xf0610000 0x0 0x20>,
				<0x0 0xc0880000 0x0 0x2050>,
				<0x0 0xc0888000 0x0 0x30>;
			reg-names = "mpmu", "apmu", "apbc", "apbs", "ciu",
				    "dciu", "ddrc", "apbc2", "rcpu", "rcpu2";
			clocks = <&vctcxo_24>, <&vctcxo_3>, <&vctcxo_1>,
				 <&pll1_2457p6_vco>, <&clk_32k>;
			clock-names = "vctcxo_24", "vctcxo_3", "vctcxo_1",
				      "pll1_2457p6_vco",
				"clk_32k";
			#clock-cells = <1>;
			status = "okay";
		};

		reset: reset-controller@d4050000 {
			compatible = "spacemit,k1x-reset";
			reg = <0x0 0xd4050000 0x0 0x209c>,
				<0x0 0xd4282800 0x0 0x400>,
				<0x0 0xd4015000 0x0 0x1000>,
				<0x0 0xd4090000 0x0 0x1000>,
				<0x0 0xd4282c00 0x0 0x400>,
				<0x0 0xd8440000 0x0 0x98>,
				<0x0 0xc0000000 0x0 0x4280>,
				<0x0 0xf0610000 0x0 0x20>,
				<0x0 0xc0880000 0x0 0x2050>,
				<0x0 0xc0888000 0x0 0x30>;
			reg-names = "mpmu", "apmu", "apbc", "apbs", "ciu",
				    "dciu", "ddrc", "apbc2", "rcpu", "rcpu2";
			#reset-cells = <1>;
			status = "okay";
		};

		intc: interrupt-controller@e0000000 {
			#interrupt-cells = <1>;
			compatible = "riscv,plic0";
			interrupt-controller;
			interrupts-extended = <
				&cpu0_intc 11 &cpu0_intc 9
				&cpu1_intc 11 &cpu1_intc 9
				&cpu2_intc 11 &cpu2_intc 9
				&cpu3_intc 11 &cpu3_intc 9
				&cpu4_intc 11 &cpu4_intc 9
				&cpu5_intc 11 &cpu5_intc 9
				&cpu6_intc 11 &cpu6_intc 9
				&cpu7_intc 11 &cpu7_intc 9
			>;
			reg = <0x0 0xE0000000 0x0 0x04000000>;
			reg-names = "control";
			riscv,max-priority = <7>;
			riscv,ndev = <159>;
		};

		pinctrl: pinctrl@d401e000 {
			compatible = "pinctrl-spacemit-k1x";
			reg = <0x0 0xd401e000 0x0 0x250>,
			      <0x0 0xd4019800 0x0 0x10>,
			      <0x0 0xd4019000 0x0 0x800>;
			#address-cells = <1>;
			#size-cells = <1>;
			#pinctrl-cells = <2>;
			#gpio-range-cells = <3>;

			pinctrl-single,register-width = <32>;
			pinctrl-single,function-mask = <0xff77>;

			clocks = <&ccu CLK_AIB>;
			clock-names = "clk_aib";
			resets = <&reset RESET_AIB>;
			reset-names = "aib_rst";

			interrupt-parent = <&intc>;
			interrupts = <60>;
			interrupt-controller;
			#interrupt-cells = <1>;

			range: gpio-range {
				#pinctrl-single,gpio-range-cells = <3>;
			};
		};

		pdma0: pdma@d4000000 {
			compatible = "spacemit,k1-pdma";
			reg = <0x0 0xd4000000 0x0 0x4000>;
			interrupts = <72>;
			interrupt-parent = <&intc>;
			clocks = <&ccu CLK_DMA>;
			resets = <&reset RESET_DMA>;
			#dma-cells= <2>;
			#dma-channels = <16>;
			max-burst-size = <64>;
			reserved-channels = <15 45>;
			interconnects = <&dram_range0>;
			interconnect-names = "dma-mem";
			status = "ok";
		};

		uart0: serial@d4017000 {
			compatible = "spacemit,k1x-uart";
			reg = <0x0 0xd4017000 0x0 0x100>;
			interrupt-parent = <&intc>;
			interrupts = <42>;
			clocks = <&ccu CLK_UART1>, <&ccu CLK_SLOW_UART>;
			clock-names = "func", "gate";
			resets = <&reset RESET_UART1>;
			reg-shift = <2>;
			reg-io-width = <4>;
			status = "disabled";
		};

		uart2: uart@d4017100 {
			compatible = "spacemit,k1x-uart";
			reg = <0x0 0xd4017100 0x0 0x100>;
			interrupt-parent = <&intc>;
			interrupts = <44>;
			clocks = <&ccu CLK_UART2>, <&ccu CLK_SLOW_UART>;
			clock-names = "func", "gate";
			resets = <&reset RESET_UART2>;
			status = "disabled";
		};

		uart3: uart@d4017200 {
			compatible = "spacemit,k1x-uart";
			reg = <0x0 0xd4017200 0x0 0x100>;
			interrupt-parent = <&intc>;
			interrupts = <45>;
			clocks = <&ccu CLK_UART3>, <&ccu CLK_SLOW_UART>;
			clock-names = "func", "gate";
			resets = <&reset RESET_UART3>;
			status = "disabled";
		};

		uart4: uart@d4017300 {
			compatible = "spacemit,k1x-uart";
			interrupt-parent = <&intc>;
			reg = <0x0 0xd4017300 0x0 0x100>;
			interrupts = <46>;
			clocks = <&ccu CLK_UART4>, <&ccu CLK_SLOW_UART>;
			clock-names = "func", "gate";
			resets = <&reset RESET_UART4>;
			status = "disabled";
		};

		uart5: uart@d4017400 {
			compatible = "spacemit,k1x-uart";
			interrupt-parent = <&intc>;
			reg = <0x0 0xd4017400 0x0 0x100>;
			interrupts = <47>;
			clocks = <&ccu CLK_UART5>, <&ccu CLK_SLOW_UART>;
			clock-names = "func", "gate";
			resets = <&reset RESET_UART5>;
			status = "disabled";
		};

		uart6: uart@d4017500 {
			compatible = "spacemit,k1x-uart";
			interrupt-parent = <&intc>;
			reg = <0x0 0xd4017500 0x0 0x100>;
			interrupts = <48>;
			clocks = <&ccu CLK_UART6>, <&ccu CLK_SLOW_UART>;
			clock-names = "func", "gate";
			resets = <&reset RESET_UART6>;
			status = "disabled";
		};

		uart7: uart@d4017600 {
			compatible = "spacemit,k1x-uart";
			interrupt-parent = <&intc>;
			reg = <0x0 0xd4017600 0x0 0x100>;
			interrupts = <49>;
			clocks = <&ccu CLK_UART7>, <&ccu CLK_SLOW_UART>;
			clock-names = "func", "gate";
			resets = <&reset RESET_UART7>;
			status = "disabled";
		};

		uart8: uart@d4017700 {
			compatible = "spacemit,k1x-uart";
			interrupt-parent = <&intc>;
			reg = <0x0 0xd4017700 0x0 0x100>;
			interrupts = <50>;
			clocks = <&ccu CLK_UART8>, <&ccu CLK_SLOW_UART>;
			clock-names = "func", "gate";
			resets = <&reset RESET_UART8>;
			status = "disabled";
		};

		uart9: uart@d4017800 {
			compatible = "spacemit,k1x-uart";
			interrupt-parent = <&intc>;
			reg = <0x0 0xd4017800 0x0 0x100>;
			interrupts = <51>;
			clocks = <&ccu CLK_UART9>, <&ccu CLK_SLOW_UART>;
			clock-names = "func", "gate";
			resets = <&reset RESET_UART9>;
			status = "disabled";
		};

		i2c0: i2c@d4010800 {
			compatible = "spacemit,k1-i2c";
			spacemit,adapter-id = <0>;
			reg = <0x0 0xd4010800 0x0 0x38>;
			#address-cells = <1>;
			#size-cells = <0>;
			interrupt-parent = <&intc>;
			interrupts = <36>;
			clocks = <&ccu CLK_TWSI0>;
			resets = <&reset RESET_TWSI0>;
			spacemit,i2c-master-code = /bits/ 8 <0x0e>;
			spacemit,i2c-clk-rate = <32000000>;
			spacemit,i2c-lcr = <0x82c469f>;
			spacemit,i2c-wcr = <0x142a>;
			/* apb clock: 26MHz or 52MHz */
			spacemit,apb_clock = <52000000>;
			status = "disabled";
		};

		i2c1: i2c@d4011000 {
			compatible = "spacemit,k1-i2c";
			spacemit,adapter-id = <1>;
			reg = <0x0 0xd4011000 0x0 0x38>;
			#address-cells = <1>;
			#size-cells = <0>;
			interrupt-parent = <&intc>;
			interrupts = <37>;
			clocks = <&ccu CLK_TWSI1>;
			resets = <&reset RESET_TWSI1>;
			spacemit,i2c-master-code = /bits/ 8 <0x0e>;
			spacemit,i2c-clk-rate = <32000000>;
			spacemit,i2c-lcr = <0x82c469f>;
			spacemit,i2c-wcr = <0x142a>;
			/* apb clock: 26MHz or 52MHz */
			spacemit,apb_clock = <52000000>;
			status = "disabled";
		};

		i2c2: i2c@d4012000 {
			compatible = "spacemit,k1-i2c";
			spacemit,adapter-id = <2>;
			reg = <0x0 0xd4012000 0x0 0x38>;
			#address-cells = <1>;
			#size-cells = <0>;
			interrupt-parent = <&intc>;
			interrupts = <38>;
			clocks = <&ccu CLK_TWSI2>;
			resets = <&reset RESET_TWSI2>;
			spacemit,i2c-master-code = /bits/ 8 <0x0e>;
			spacemit,i2c-clk-rate = <32000000>;
			spacemit,i2c-lcr = <0x82c469f>;
			spacemit,i2c-wcr = <0x142a>;
			/* apb clock: 26MHz or 52MHz */
			spacemit,apb_clock = <52000000>;
			status = "disabled";
		};

		i2c4: i2c@d4012800 {
			compatible = "spacemit,k1-i2c";
			spacemit,adapter-id = <4>;
			reg = <0x0 0xd4012800 0x0 0x38>;
			#address-cells = <1>;
			#size-cells = <0>;
			interrupt-parent = <&intc>;
			interrupts = <40>;
			clocks = <&ccu CLK_TWSI4>;
			resets = <&reset RESET_TWSI4>;
			spacemit,i2c-master-code = /bits/ 8 <0x0e>;
			spacemit,i2c-clk-rate = <32000000>;
			spacemit,i2c-lcr = <0x82c469f>;
			spacemit,i2c-wcr = <0x142a>;
			/* apb clock: 26MHz or 52MHz */
			spacemit,apb_clock = <52000000>;
			status = "disabled";
		};

		i2c5: i2c@d4013800 {
			compatible = "spacemit,k1-i2c";
			spacemit,adapter-id = <5>;
			reg = <0x0 0xd4013800 0x0 0x38>;
			#address-cells = <1>;
			#size-cells = <0>;
			interrupt-parent = <&intc>;
			interrupts = <41>;
			clocks = <&ccu CLK_TWSI5>;
			resets = <&reset RESET_TWSI5>;
			spacemit,i2c-master-code = /bits/ 8 <0x0e>;
			spacemit,i2c-clk-rate = <32000000>;
			spacemit,i2c-lcr = <0x82c469f>;
			spacemit,i2c-wcr = <0x142a>;
			/* apb clock: 26MHz or 52MHz */
			spacemit,apb_clock = <52000000>;
			status = "disabled";
		};

		i2c6: i2c@d4018800 {
			compatible = "spacemit,k1-i2c";
			spacemit,adapter-id = <6>;
			reg = <0x0 0xd4018800 0x0 0x38>;
			#address-cells = <1>;
			#size-cells = <0>;
			interrupt-parent = <&intc>;
			interrupts = <70>;
			clocks = <&ccu CLK_TWSI6>;
			resets = <&reset RESET_TWSI6>;
			spacemit,i2c-master-code = /bits/ 8 <0x0e>;
			spacemit,i2c-clk-rate = <32000000>;
			spacemit,i2c-lcr = <0x82c469f>;
			spacemit,i2c-wcr = <0x142a>;
			/* apb clock: 26MHz or 52MHz */
			spacemit,apb_clock = <52000000>;
			status = "disabled";
		};

		i2c7: i2c@d401d000 {
			compatible = "spacemit,k1-i2c";
			spacemit,adapter-id = <7>;
			reg = <0x0 0xd401d000 0x0 0x38>;
			#address-cells = <1>;
			#size-cells = <0>;
			interrupt-parent = <&intc>;
			interrupts = <18>;
			clocks = <&ccu CLK_TWSI7>;
			resets = <&reset RESET_TWSI7>;
			spacemit,i2c-master-code = /bits/ 8 <0x0e>;
			spacemit,i2c-clk-rate = <32000000>;
			spacemit,i2c-lcr = <0x82c469f>;
			spacemit,i2c-wcr = <0x142a>;
			/* apb clock: 26MHz or 52MHz */
			spacemit,apb_clock = <52000000>;
			status = "disabled";
		};

		i2c8: i2c@d401d800 {
			compatible = "spacemit,k1-i2c";
			spacemit,adapter-id = <8>;
			reg = <0x0 0xd401d800 0x0 0x38>;
			#address-cells = <1>;
			#size-cells = <0>;
			interrupt-parent = <&intc>;
			interrupts = <19>;
			clocks = <&ccu CLK_TWSI8>;
			resets = <&reset RESET_TWSI8>;
			spacemit,i2c-master-code = /bits/ 8 <0x0e>;
			spacemit,i2c-clk-rate = <32000000>;
			spacemit,i2c-lcr = <0x82c469f>;
			spacemit,i2c-wcr = <0x142a>;
			/* apb clock: 26MHz or 52MHz */
			spacemit,apb_clock = <52000000>;
			status = "disabled";
		};

		spi0: spi@d4026000 {
			compatible = "spacemit,k1-spi";
			reg = <0x0 0xd4026000 0x0 0x30>;
			k1,spi-id = <0>;
			k1,spi-clock-rate = <26000000>;
			dmas = <&pdma0 DMA_SSPA0_RX 1
				&pdma0 DMA_SSPA0_TX 1>;
			dma-names = "rx", "tx";
			interrupt-parent = <&intc>;
			interrupts = <56>;
			clocks = <&ccu CLK_SSPA0>;
			resets = <&reset RESET_SSPA0>;
			#address-cells = <1>;
			#size-cells = <0>;
			interconnects = <&dram_range0>;
			interconnect-names = "dma-mem";
			status = "disabled";
		};

		spi1: spi@d4026800 {
			compatible = "spacemit,k1-spi";
			reg = <0x0 0xd4026800 0x0 0x30>;
			k1,spi-id = <1>;
			k1,spi-clock-rate = <26000000>;
			dmas = <&pdma0 DMA_SSPA1_RX 1
				&pdma0 DMA_SSPA1_TX 1>;
			dma-names = "rx", "tx";
			interrupt-parent = <&intc>;
			interrupts = <57>;
			clocks = <&ccu CLK_SSPA1>;
			resets = <&reset RESET_SSPA1>;
			#address-cells = <1>;
			#size-cells = <0>;
			interconnects = <&dram_range0>;
			interconnect-names = "dma-mem";
			status = "disabled";
		};

		spi3: spi@d401c000 {
			compatible = "spacemit,k1-spi";
			reg = <0x0 0xd401c000 0x0 0x30>;
			k1,spi-id = <3>;
			k1,spi-clock-rate = <26000000>;
			dmas = <&pdma0 DMA_SSP3_RX 1
				&pdma0 DMA_SSP3_TX 1>;
			dma-names = "rx", "tx";
			interrupt-parent = <&intc>;
			interrupts = <55>;
			clocks = <&ccu CLK_SSP3>;
			resets = <&reset RESET_SSP3>;
			#address-cells = <1>;
			#size-cells = <0>;
			interconnects = <&dram_range0>;
			interconnect-names = "dma-mem";
			status = "disabled";
		};

		gpio: gpio@d4019000 {
			compatible = "spacemit,k1x-gpio";
			reg = <0x0 0xd4019000 0x0 0x800>;
			gpio-controller;
			#gpio-cells = <2>;
			interrupts = <58>;
			clocks = <&ccu CLK_GPIO>;
			interrupt-names = "gpio_mux";
			interrupt-parent = <&intc>;
			interrupt-controller;
			#interrupt-cells = <2>;

			gcb0: gpio0 {
				reg-offset = <0x0>;
			};

			gcb1: gpio1 {
				reg-offset = <0x4>;
			};

			gcb2: gpio2 {
				reg-offset = <0x8>;
			};

			gcb3: gpio3 {
				reg-offset = <0x100>;
			};
		};
	};
};
