// SPDX-License-Identifier: (GPL-2.0 OR MIT)
/* Copyright (c) 2025 Spacemit, Inc */

/dts-v1/;

/ {
	compatible = "spacemit,k3";
	#address-cells = <2>;
	#size-cells = <2>;

	cpus: cpus {
		#address-cells = <1>;
		#size-cells = <0>;
		timebase-frequency = <24000000>;

		cpu_0: cpu@0 {
			device_type = "cpu";
			reg = <0>;
			status = "okay";
			compatible = "riscv";
			riscv,isa = "rv64imafdcvh";
			riscv,isa-base = "rv64i";
			riscv,isa-extensions = "i", "m", "a", "f", "d", "c", "v", "h",
					       "smaia", "smstateen", "ssaia", "sscofpmf",
					       "ssnpm", "sstc", "svade", "svinval",
					       "svnapot", "svpbmt", "zawrs", "zba", "zbb",
					       "zbc", "zbs", "zca", "zcb", "zcd", "zcmop",
					       "zfa", "zfbfmin", "zfh", "zfhmin", "zicbom", "zicbop",
					       "zicboz", "zicntr", "zicond", "zicsr",
					       "zifencei", "zihintntl", "zihintpause",
					       "zihpm", "zimop", "zkt", "zvbb", "zvbc",
					       "zvfbfmin", "zvfbfwma", "zvfh", "zvfhmin",
					       "zvkb", "zvkg", "zvkn", "zvknc", "zvkned",
					       "zvkng", "zvknha", "zvknhb", "zvks",
					       "zvksc", "zvksed", "zvksg", "zvksh", "zvkt";
			riscv,cbom-block-size = <64>;
			riscv,cboz-block-size = <64>;
			riscv,cbop-block-size = <64>;
			i-cache-block-size = <64>;
			i-cache-size = <65536>;
			i-cache-sets = <256>;
			d-cache-block-size = <64>;
			d-cache-size = <65536>;
			d-cache-sets = <256>;
			next-level-cache = <&clst0_l2_cache>;
			mmu-type = "riscv,sv39";
			cpu0_intc: interrupt-controller {
				#interrupt-cells = <1>;
				compatible = "riscv,cpu-intc";
				interrupt-controller;
			};
		};

		cpu_1: cpu@1 {
			device_type = "cpu";
			reg = <1>;
			status = "okay";
			compatible = "riscv";
			riscv,isa = "rv64imafdcvh";
			riscv,isa-base = "rv64i";
			riscv,isa-extensions = "i", "m", "a", "f", "d", "c", "v", "h",
					       "smaia", "smstateen", "ssaia", "sscofpmf",
					       "ssnpm", "sstc", "svade", "svinval",
					       "svnapot", "svpbmt", "zawrs", "zba", "zbb",
					       "zbc", "zbs", "zca", "zcb", "zcd", "zcmop",
					       "zfa", "zfbfmin", "zfh", "zfhmin", "zicbom", "zicbop",
					       "zicboz", "zicntr", "zicond", "zicsr",
					       "zifencei", "zihintntl", "zihintpause",
					       "zihpm", "zimop", "zkt", "zvbb", "zvbc",
					       "zvfbfmin", "zvfbfwma", "zvfh", "zvfhmin",
					       "zvkb", "zvkg", "zvkn", "zvknc", "zvkned",
					       "zvkng", "zvknha", "zvknhb", "zvks",
					       "zvksc", "zvksed", "zvksg", "zvksh", "zvkt";
			riscv,cbom-block-size = <64>;
			riscv,cboz-block-size = <64>;
			riscv,cbop-block-size = <64>;
			i-cache-block-size = <64>;
			i-cache-size = <65536>;
			i-cache-sets = <256>;
			d-cache-block-size = <64>;
			d-cache-size = <65536>;
			d-cache-sets = <256>;
			next-level-cache = <&clst0_l2_cache>;
			mmu-type = "riscv,sv39";
			cpu1_intc: interrupt-controller {
				#interrupt-cells = <1>;
				compatible = "riscv,cpu-intc";
				interrupt-controller;
			};
		};

		cpu_2: cpu@2 {
			device_type = "cpu";
			reg = <2>;
			status = "okay";
			compatible = "riscv";
			riscv,isa = "rv64imafdcvh";
			riscv,isa-base = "rv64i";
			riscv,isa-extensions = "i", "m", "a", "f", "d", "c", "v", "h",
					       "smaia", "smstateen", "ssaia", "sscofpmf",
					       "ssnpm", "sstc", "svade", "svinval",
					       "svnapot", "svpbmt", "zawrs", "zba", "zbb",
					       "zbc", "zbs", "zca", "zcb", "zcd", "zcmop",
					       "zfa", "zfbfmin", "zfh", "zfhmin", "zicbom", "zicbop",
					       "zicboz", "zicntr", "zicond", "zicsr",
					       "zifencei", "zihintntl", "zihintpause",
					       "zihpm", "zimop", "zkt", "zvbb", "zvbc",
					       "zvfbfmin", "zvfbfwma", "zvfh", "zvfhmin",
					       "zvkb", "zvkg", "zvkn", "zvknc", "zvkned",
					       "zvkng", "zvknha", "zvknhb", "zvks",
					       "zvksc", "zvksed", "zvksg", "zvksh", "zvkt";
			riscv,cbom-block-size = <64>;
			riscv,cboz-block-size = <64>;
			riscv,cbop-block-size = <64>;
			i-cache-block-size = <64>;
			i-cache-size = <65536>;
			i-cache-sets = <256>;
			d-cache-block-size = <64>;
			d-cache-size = <65536>;
			d-cache-sets = <256>;
			next-level-cache = <&clst0_l2_cache>;
			mmu-type = "riscv,sv39";
			cpu2_intc: interrupt-controller {
				#interrupt-cells = <1>;
				compatible = "riscv,cpu-intc";
				interrupt-controller;
			};
		};

		cpu_3: cpu@3 {
			device_type = "cpu";
			reg = <3>;
			status = "okay";
			compatible = "riscv";
			riscv,isa = "rv64imafdcvh";
			riscv,isa-base = "rv64i";
			riscv,isa-extensions = "i", "m", "a", "f", "d", "c", "v", "h",
					       "smaia", "smstateen", "ssaia", "sscofpmf",
					       "ssnpm", "sstc", "svade", "svinval",
					       "svnapot", "svpbmt", "zawrs", "zba", "zbb",
					       "zbc", "zbs", "zca", "zcb", "zcd", "zcmop",
					       "zfa", "zfbfmin", "zfh", "zfhmin", "zicbom", "zicbop",
					       "zicboz", "zicntr", "zicond", "zicsr",
					       "zifencei", "zihintntl", "zihintpause",
					       "zihpm", "zimop", "zkt", "zvbb", "zvbc",
					       "zvfbfmin", "zvfbfwma", "zvfh", "zvfhmin",
					       "zvkb", "zvkg", "zvkn", "zvknc", "zvkned",
					       "zvkng", "zvknha", "zvknhb", "zvks",
					       "zvksc", "zvksed", "zvksg", "zvksh", "zvkt";
			riscv,cbom-block-size = <64>;
			riscv,cboz-block-size = <64>;
			riscv,cbop-block-size = <64>;
			i-cache-block-size = <64>;
			i-cache-size = <65536>;
			i-cache-sets = <256>;
			d-cache-block-size = <64>;
			d-cache-size = <65536>;
			d-cache-sets = <256>;
			next-level-cache = <&clst0_l2_cache>;
			mmu-type = "riscv,sv39";
			cpu3_intc: interrupt-controller {
				#interrupt-cells = <1>;
				compatible = "riscv,cpu-intc";
				interrupt-controller;
			};
		};

		cpu_4: cpu@4 {
			device_type = "cpu";
			reg = <4>;
			status = "okay";
			compatible = "riscv";
			riscv,isa = "rv64imafdcvh";
			riscv,isa-base = "rv64i";
			riscv,isa-extensions = "i", "m", "a", "f", "d", "c", "v", "h",
					       "smaia", "smstateen", "ssaia", "sscofpmf",
					       "ssnpm", "sstc", "svade", "svinval",
					       "svnapot", "svpbmt", "zawrs", "zba", "zbb",
					       "zbc", "zbs", "zca", "zcb", "zcd", "zcmop",
					       "zfa", "zfbfmin", "zfh", "zfhmin", "zicbom", "zicbop",
					       "zicboz", "zicntr", "zicond", "zicsr",
					       "zifencei", "zihintntl", "zihintpause",
					       "zihpm", "zimop", "zkt", "zvbb", "zvbc",
					       "zvfbfmin", "zvfbfwma", "zvfh", "zvfhmin",
					       "zvkb", "zvkg", "zvkn", "zvknc", "zvkned",
					       "zvkng", "zvknha", "zvknhb", "zvks",
					       "zvksc", "zvksed", "zvksg", "zvksh", "zvkt";
			riscv,cbom-block-size = <64>;
			riscv,cboz-block-size = <64>;
			riscv,cbop-block-size = <64>;
			i-cache-block-size = <64>;
			i-cache-size = <65536>;
			i-cache-sets = <256>;
			d-cache-block-size = <64>;
			d-cache-size = <65536>;
			d-cache-sets = <256>;
			next-level-cache = <&clst1_l2_cache>;
			mmu-type = "riscv,sv39";
			cpu4_intc: interrupt-controller {
				#interrupt-cells = <1>;
				compatible = "riscv,cpu-intc";
				interrupt-controller;
			};
		};

		cpu_5: cpu@5 {
			device_type = "cpu";
			reg = <5>;
			status = "okay";
			compatible = "riscv";
			riscv,isa = "rv64imafdcvh";
			riscv,isa-base = "rv64i";
			riscv,isa-extensions = "i", "m", "a", "f", "d", "c", "v", "h",
					       "smaia", "smstateen", "ssaia", "sscofpmf",
					       "ssnpm", "sstc", "svade", "svinval",
					       "svnapot", "svpbmt", "zawrs", "zba", "zbb",
					       "zbc", "zbs", "zca", "zcb", "zcd", "zcmop",
					       "zfa", "zfbfmin", "zfh", "zfhmin", "zicbom", "zicbop",
					       "zicboz", "zicntr", "zicond", "zicsr",
					       "zifencei", "zihintntl", "zihintpause",
					       "zihpm", "zimop", "zkt", "zvbb", "zvbc",
					       "zvfbfmin", "zvfbfwma", "zvfh", "zvfhmin",
					       "zvkb", "zvkg", "zvkn", "zvknc", "zvkned",
					       "zvkng", "zvknha", "zvknhb", "zvks",
					       "zvksc", "zvksed", "zvksg", "zvksh", "zvkt";
			riscv,cbom-block-size = <64>;
			riscv,cboz-block-size = <64>;
			riscv,cbop-block-size = <64>;
			i-cache-block-size = <64>;
			i-cache-size = <65536>;
			i-cache-sets = <256>;
			d-cache-block-size = <64>;
			d-cache-size = <65536>;
			d-cache-sets = <256>;
			next-level-cache = <&clst1_l2_cache>;
			mmu-type = "riscv,sv39";
			cpu5_intc: interrupt-controller {
				#interrupt-cells = <1>;
				compatible = "riscv,cpu-intc";
				interrupt-controller;
			};
		};

		cpu_6: cpu@6 {
			device_type = "cpu";
			reg = <6>;
			status = "okay";
			compatible = "riscv";
			riscv,isa = "rv64imafdcvh";
			riscv,isa-base = "rv64i";
			riscv,isa-extensions = "i", "m", "a", "f", "d", "c", "v", "h",
					       "smaia", "smstateen", "ssaia", "sscofpmf",
					       "ssnpm", "sstc", "svade", "svinval",
					       "svnapot", "svpbmt", "zawrs", "zba", "zbb",
					       "zbc", "zbs", "zca", "zcb", "zcd", "zcmop",
					       "zfa", "zfbfmin", "zfh", "zfhmin", "zicbom", "zicbop",
					       "zicboz", "zicntr", "zicond", "zicsr",
					       "zifencei", "zihintntl", "zihintpause",
					       "zihpm", "zimop", "zkt", "zvbb", "zvbc",
					       "zvfbfmin", "zvfbfwma", "zvfh", "zvfhmin",
					       "zvkb", "zvkg", "zvkn", "zvknc", "zvkned",
					       "zvkng", "zvknha", "zvknhb", "zvks",
					       "zvksc", "zvksed", "zvksg", "zvksh", "zvkt";
			riscv,cbom-block-size = <64>;
			riscv,cboz-block-size = <64>;
			riscv,cbop-block-size = <64>;
			i-cache-block-size = <64>;
			i-cache-size = <65536>;
			i-cache-sets = <256>;
			d-cache-block-size = <64>;
			d-cache-size = <65536>;
			d-cache-sets = <256>;
			next-level-cache = <&clst1_l2_cache>;
			mmu-type = "riscv,sv39";
			cpu6_intc: interrupt-controller {
				#interrupt-cells = <1>;
				compatible = "riscv,cpu-intc";
				interrupt-controller;
			};
		};

		cpu_7: cpu@7 {
			device_type = "cpu";
			reg = <7>;
			status = "okay";
			compatible = "riscv";
			riscv,isa = "rv64imafdcvh";
			riscv,isa-base = "rv64i";
			riscv,isa-extensions = "i", "m", "a", "f", "d", "c", "v", "h",
					       "smaia", "smstateen", "ssaia", "sscofpmf",
					       "ssnpm", "sstc", "svade", "svinval",
					       "svnapot", "svpbmt", "zawrs", "zba", "zbb",
					       "zbc", "zbs", "zca", "zcb", "zcd", "zcmop",
					       "zfa", "zfbfmin", "zfh", "zfhmin", "zicbom", "zicbop",
					       "zicboz", "zicntr", "zicond", "zicsr",
					       "zifencei", "zihintntl", "zihintpause",
					       "zihpm", "zimop", "zkt", "zvbb", "zvbc",
					       "zvfbfmin", "zvfbfwma", "zvfh", "zvfhmin",
					       "zvkb", "zvkg", "zvkn", "zvknc", "zvkned",
					       "zvkng", "zvknha", "zvknhb", "zvks",
					       "zvksc", "zvksed", "zvksg", "zvksh", "zvkt";
			riscv,cbom-block-size = <64>;
			riscv,cboz-block-size = <64>;
			riscv,cbop-block-size = <64>;
			i-cache-block-size = <64>;
			i-cache-size = <65536>;
			i-cache-sets = <256>;
			d-cache-block-size = <64>;
			d-cache-size = <65536>;
			d-cache-sets = <256>;
			next-level-cache = <&clst1_l2_cache>;
			mmu-type = "riscv,sv39";
			cpu7_intc: interrupt-controller {
				#interrupt-cells = <1>;
				compatible = "riscv,cpu-intc";
				interrupt-controller;
			};
		};

		cpu-map {
			cluster0 {
				core0 {
					cpu = <&cpu_0>;
				};

				core1 {
					cpu = <&cpu_1>;
				};

				core2 {
					cpu = <&cpu_2>;
				};

				core3 {
					cpu = <&cpu_3>;
				};
			};
			cluster1 {
				core0 {
					cpu = <&cpu_4>;
				};

				core1 {
					cpu = <&cpu_5>;
				};

				core2 {
					cpu = <&cpu_6>;
				};

				core3 {
					cpu = <&cpu_7>;
				};
			};
		};

		clst0_l2_cache: l2-cache0 {
			compatible = "cache";
			cache-block-size = <64>;
			cache-level = <2>;
			cache-size = <4194304>;
			cache-sets = <4096>;
			cache-unified;
		};

		clst1_l2_cache: l2-cache1 {
			compatible = "cache";
			cache-block-size = <64>;
			cache-level = <2>;
			cache-size = <4194304>;
			cache-sets = <4096>;
			cache-unified;
		};
	};

	resmem: reserved-memory {
		#address-cells = <2>;
		#size-cells = <2>;
		ranges;
	};

	soc: soc {
		#address-cells = <2>;
		#size-cells = <2>;
		compatible = "simple-bus";
		dma-noncoherent;
		ranges;

		clint0: clint@e081c000 {
			compatible = "riscv,clint0";
			interrupts-extended = <
				&cpu0_intc  3 &cpu0_intc  7
				&cpu1_intc  3 &cpu1_intc  7
				&cpu2_intc  3 &cpu2_intc  7
				&cpu3_intc  3 &cpu3_intc  7
				&cpu4_intc  3 &cpu4_intc  7
				&cpu5_intc  3 &cpu5_intc  7
				&cpu6_intc  3 &cpu6_intc  7
				&cpu7_intc  3 &cpu7_intc  7>;
			reg = <0x0 0xe081c000 0x0 0x0004000>;
		};

		simsic: interrupt-controller@e0400000 {
			compatible = "riscv,imsics";
			interrupts-extended = <
				&cpu0_intc 9 &cpu1_intc 9
				&cpu2_intc 9 &cpu3_intc 9
				&cpu4_intc 9 &cpu5_intc 9
				&cpu6_intc 9 &cpu7_intc 9>;

			reg = <0x0 0xe0400000 0x0 0x40000
				0x0 0xe0440000 0x0 0x40000
				0x0 0xe0480000 0x0 0x40000
				0x0 0xe04c0000 0x0 0x40000
				0x0 0xe0500000 0x0 0x40000
				0x0 0xe0540000 0x0 0x40000
				0x0 0xe0580000 0x0 0x40000
				0x0 0xe05c0000 0x0 0x40000>;
			interrupt-controller;
			#interrupt-cells = <0>;
			#msi-cells = <0>;
			msi-controller;
			/* Number of interrupt identities: 511 */
			riscv,num-ids = <511>;
			/* Number of guest interrupt identities: 511 */
			riscv,num-guest-ids = <511>;
			/* Number of HART index bits: 4 (2^4 = 16 harts) */
			riscv,hart-index-bits = <4>;
			riscv,guest-index-bits = <6>;
			status = "okay";
		};

		saplic: interrupt-controller@e0804000 {
			compatible = "riscv,aplic";
			/* aplic config */
			reg = <0x0 0xe0804000 0x0 0x4000>;
			msi-parent = <&simsic>;
			#interrupt-cells = <2>;
			interrupt-controller;
			/* the number of wired interrupt sources:512 */
			riscv,num-sources = <512>;
			status = "okay";
		};
	};
};
