/* SPDX-License-Identifier: GPL-2.0 */
/*
 * Copyright (C) 2022-2023 Alibaba Group Holding Limited.
 */

#include "th1520-rvbook.dtsi"

/ {
	memory@0 {
		device_type = "memory";
		reg = <0x0 0x200000 0x1 0xffe00000>;
	};

	reg_vcc1v8_lontium: regulator-vcc1v8-lontium {
		compatible = "regulator-fixed";
		enable-active-high;
		regulator-min-microvolt = <1800000>;
		regulator-max-microvolt = <1800000>;
		gpio = <&gpio3 17 GPIO_ACTIVE_HIGH>;
		regulator-name = "vcc1v8-lontium";
	};

	reg_vcc3v3_edp: regulator-vcc3v3-edp {
		compatible = "regulator-fixed";
		enable-active-high;
		regulator-min-microvolt = <3300000>;
		regulator-max-microvolt = <3300000>;
		gpio = <&gpio2 18 GPIO_ACTIVE_HIGH>;
		regulator-name = "vcc3v3-edp";
	};
};

&cmamem {
	size = <0 0x20000000>; // 512MB on lpi4a (SOM)
	alloc-ranges = <0 0xd8000000 0 0x20000000>; // [0x0D800_0000 ~ 0x0F800_0000]
};

&i2c3 {
	clock-frequency = <400000>;
	status = "okay";
	pinctrl-names = "default";
	pinctrl-0 = <&i2c3_pins>;

	lt8911i2c: lt8911i2c@29{
		compatible = "i2c,lt8911";
		reg = <0x29>;
	};
};

&dsi0 {
    status = "okay";
};

&dhost_0 {
	panel0@0 {
		compatible = "i2c_dsi,lt8911";
		reg = <0>;
		lt8911,backlight-gpio = <&gpio2 20 GPIO_ACTIVE_HIGH>;
		lt8911,irq-gpio = <&gpio3 16 GPIO_ACTIVE_LOW>;
		lt8911,reset-gpio = <&gpio3 15 GPIO_ACTIVE_LOW>;
		lt8911,rst-delay-ms = <10>;
		lt8911,edp-lane-cnt = <2>;
		lt8911,mipi-lane-cnt = <4>;
		lt8911,edp-depth = <8>; /* 6 or 8 */
		pinctrl-names = "default";
		pinctrl-0 = <&lt8911exb_pins>;
		hsvcc-supply = <&reg_vcc1v8_lontium>;
		vspn3v3-supply = <&reg_vcc3v3_edp>;

		port {
			panel0_in: endpoint {
				remote-endpoint = <&dsi0_out>;
			};
		};
	};
};

