# SPDX-License-Identifier: GPL-2.0-only
menu "XuanTie SoC drivers"

config TH1520_REBOOTMODE
	bool "XuanTie th1520 rebootmode support"
	depends on TH1520_AON
	default y
	help
	 This driver supports check rebootmode feature in TH1520 FM platform

config TH1520_SYSTEM_MONITOR
	bool "Xuantie th1520 system monitor"
	default y
	help
	 This driver supports system monitor feature in Th1520 FM platform

config TH1520_REGDUMP
	bool "XuanTie th1520 sysdump support"
	depends on TH1520_AON
	default y
	help
	 This driver supports sysdump feature in TH1520 FM platform

config TH1520_IOPMP
	tristate "Thead th1520 iopmp support"
	default y
	help
	  This driver supports TH1520 IOPMP built-in for security system

source "drivers/soc/xuantie/nna/Kconfig"
endmenu
